/* CSS COMMENTS!!! */

body {
  background-color:#829C42;
 font-family: 'Teko', sans-serif;
}

h1 {
font-family: 'Press Start 2P', system-ui;
}

.headbox {
background-color: #D6CA58;
padding: 0 0 30px 50px;
text-align: center;
}

/* hi hi hellooo*/
